@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
}
body{
  min-width: none;

color: inherit;}
a{
  text-decoration: none;
  color: inherit;
}
.navbar-menu{
  display: flex;
  list-style: none;
  gap: 20px;
  color: rgb(155, 155, 155);
  font-size: 18px;

}

.navbar .active{
  padding-bottom: 2px;
  border-bottom: 2px solid green;
}